@model MyTTNN.TrungTamNgoaiNgu.ChucVu

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/NhanVien/Views/Shared/_NhanVienLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Chức Vụ</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Chức Vụ</a></li>
                    <li class="active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header row">
                        <div class="col-md-6">
                            <h2><strong class="card-title">Cập nhật</strong></h2>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Index", "ChucVus")" class="btn btn-default">Trở về</a>
                            <input type="submit" value="Thêm" class="btn btn-default" />
                        </div>
                    </div>

                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label>Tên chức vụ</label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TenCv, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenCv, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 text-right">
                                        <input type="submit" value="Thêm" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>

    </div><!-- .content -->

</div><!-- .content -->
